.ion-content{
    --background:var(--backCol);
  }
  .btn-div{
    position: absolute;
    top: 50%;
    position: absolute;
    bottom: 42px;
    width: 90%;
    left: 50%;
  
  transform: translate(-50%,-81%);
   margin: auto;
   color: white;
  
  }
  .signup-link{
    text-decoration: underline;
    margin-left: 5px;
    display: flex;
    align-items: center;
  }
  .inputs{
    background: #00000026;
    border-radius: 4px;
    margin: 10px 0px;
    height: 40px;
  }
  .label{
    margin-bottom: 10px;
    font-size: 17px;
  }
  .btn-login{
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    width: 100%;
    margin-top: 20px;
    --ion-color-contrast:#006eff !important;
    font-weight: 600;
    font-size: 17px;
  
  }
  .div-flex-align{
    display: flex;
    align-items: center;
    font-size: 15px; margin:0px 0px 20px 0px;
  }
  